- if params[:controller] == 'home' || (params[:controller] == 'groups' && params[:action] == 'show' )
  %li
    %p.navbar-btn.toggle-pilot-container
      = link_to "Add Pilots", "#", class: 'btn btn-primary', style: 'color: #FFF;'

