#pilots-container{class: ('hidden' if @users_on_map.any?)}
  .col-lg-4.col-md-6.col-xs-11.no-padding.pilot-container-block
    .well
      .toggle-pilot-container
        &times;
      %ul.list-group
        =render partial: 'shared/group_select'
        =# render partial: 'shared/time_select'
        =render partial: 'shared/pilots_on_map'
      .form-group
        = show_all_path @users.map(&:id).join(','), @group, class: 'btn btn-sm btn-primary btn-block' do
          Show All
        - if @group.present?
          = link_to 'edit group', edit_group_path(@group), class: 'pull-right'

