.list-group-item
  .row
    .col-xs-6
      .btn.btn-sm.btn-block.btn-default.order-by-name
        Order By Name
    .col-xs-6
      .btn.btn-sm.btn-block.btn-default.order-by-distance.pull-right
        Order By Distance
    