.list-group-item
  .row
    .col-xs-4
      .btn.btn-sm.btn-block.btn-success
        24h
    .col-xs-4
      / .btn.btn-sm.btn-default.btn-block
      /   24h
    .col-xs-4
      / .btn.btn-sm.btn-default.btn-block
      /   48h
