.list-group-item
  .row
    .col-xs-4
      .btn.btn-sm.btn-default.btn-block
        12h
    .col-xs-4
      .btn.btn-sm.btn-default.btn-block
        48h
    .col-xs-4
      .btn.btn-sm.btn-default.btn-block
        72h
