%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyBDAmzYeQpRVm_0ajvbf5GVqgislxyTqKc"}

.row
  .col-md-9
    .map-container
      .scroll-block.left
      .scroll-block.right
      #googleMap{style: 'width:100%;height:85vh;'}
      #loading
        Loading...

  .col-md-3
    .well
      %ul.list-group
        =render partial: 'shared/group_select'
        =render partial: 'shared/time_select'
        =render partial: 'shared/pilots_on_map'
      .form-group
        = show_all_path @users.map(&:id).join(','), @group, class: 'btn btn-sm btn-primary' do
          Show All
        - if @group.present?
          = link_to 'edit group', edit_group_path(@group), class: 'pull-right'

#coordinates
  - @coordinates.each do |pilots|
    .pilot
      - pilots.each do |waypoint|
        .waypoint{data:{latitude: waypoint.latitude, longitude: waypoint.longitude, name:  waypoint.name, velocity:  waypoint.velocity, timestamp: waypoint.timestamp, elevation:  waypoint.elevation, text: waypoint.text}}

