%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyBDAmzYeQpRVm_0ajvbf5GVqgislxyTqKc"}

.row
  .col-md-9
    .map-container
      #googleMap{style: 'width:100%;height:500px;'}
      #loading
        Loading...

  .col-md-3
    .well{style: 'max-height: 500px;overflow: scroll'}
      %ul.list-group
        =render partial: 'shared/group_select'
        =render partial: 'shared/time_select'
        =render partial: 'shared/pilots_on_map'
      .form-group
        = link_to root_path(pilots: @users.map(&:id).join(',')), class: 'btn btn-sm btn-primary' do
          Show All
        - if @group.present?
          = link_to 'edit group', edit_group_path(@group), class: 'pull-right'

#coordinates
  - @coordinates.each do |pilots|
    .pilot
      - pilots.each do |waypoint|
        .waypoint{data:{latitude: waypoint[:latitude], longitude: waypoint[:longitude], name:  waypoint[:name], velocity:  waypoint[:velocity], timestamp: waypoint[:timestamp], elevation:  waypoint[:elevation], text: waypoint[:text] || 'N/A'}}

