%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyBDAmzYeQpRVm_0ajvbf5GVqgislxyTqKc"}

.row
  .col-md-9
    .map-container
      #googleMap{style: 'width:100%;height:500px;'}
      #loading
        Loading...

  .col-md-3
    .well

      %ul.list-group
        -@users.each do |user|
          %li.list-group-item
            .row
              .col-xs-4.col-sm-5
                -if @rendered_user_ids.include?(user.id)
                  = link_to root_path(pilot_ids: remove_user_from_map(@rendered_user_ids, user)), class: ' btn btn-success btn-block' do
                    %i.fa.fa-check
                -else
                  = link_to root_path(pilot_ids: add_user_to_map(@rendered_user_ids, user)), class: ' btn btn-default btn-block' do
                    +
              .col-xs-8.col-sm-7
                .text-center.btn
                  = link_to user.name, user_path(user)
      .form-group
        = link_to root_path(pilot_ids: @users.map(&:id).join(',')), class: 'btn btn-sm btn-primary' do
          Show All

