.row
  .col-md-1
  .col-md-10
    %p
      %strong XCTRACK TERMS AND CONDITIONS OF USE
      THIS SITE AND RELATED SERVICES ARE PROVIDED SUBJECT TO YOUR COMPLIANCE WITH THE TERMS AND CONDITIONS SET FORTH BELOW. PLEASE READ THE FOLLOWING INFORMATION CAREFULLY. YOUR CONTINUED USE OF THIS SITE WILL INDICATE YOUR TO BE BOUND BY THE TERMS AND CONDITIONS SET FORTH BELOW. IF YOU DO NOT AGREE TO BE BOUND BY THE TERMS AND CONDITIONS, PROMPTLY EXIT THIS SITE.

    %p
      %strong Restrictions on Use
      All pages within this Website and any material made available for download (collectively the “Site”) are the property of XCTRACK.ME (“XCTRACK”) and/or its affiliates. The Site is protected by federal and international copyright and trademark laws. No portion of the materials on these pages may be reprinted, republished, modified, or distributed in any form without the express written permission of XCTRACK. Site for your own personal use only. You shall keep intact any proprietary notices, including copyright notices, contained on any downloaded materials and shall comply with any applicable end user license agreements.

    %p
      Any rights not expressly granted by these Terms and Conditions or any applicable end user license agreements are reserved by XCTRACK.

    %p
      %strong Warranty Disclaimer
      THIS SITE, INCLUDING ANY CONTENT OR INFORMATION CONTAINED WITHIN IT OR ANY SITE-RELATED SERVICE, IS PROVIDED “AS IS,” WITH ALL FAULTS, WITH NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NONINFRINGEMENT. YOU ASSUME TOTAL RESPONSIBILITY AND RISK FOR YOUR USE OF THIS SITE, SITE-RELATED SERVICES, ACTIVITIES USED IN CONJUNCTION WITH USE OF THIS SITE, AND ANY THIRD-PARTY PERIPHERAL DEVICES.

    %p
      XCTRACK, ITS AFFILIATES AND ITS SPONSORS ARE NEITHER RESPONSIBLE NOR LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY, PUNITIVE, OR OTHER DAMAGES ARISING OUT OF OR RELATING IN ANY WAY TO THE SITE, SITE-RELATED SERVICES, CONTENT OR INFORMATION CONTAINED WITHIN THE SITE, AND/OR ANY HYPERLINKED WEBSITE, OR RELATING TO ANY ACTIVITY USED IN CONJUNCTION WITH THIS SITE OR ANY THIRD PARTY PERIPHERAL DEVICES. YOUR SOLE REMEDY FOR DISSATISFACTION WITH THE SITE, SITE-RELATED SERVICES, AND/OR HYPERLINKED WEBSITES IS TO STOP USING THE SITE AND/OR THOSE SERVICES.
    %p
      Although XCTRACK attempts to ensure the integrity and accurateness of the Site, it makes no guarantees whatsoever as to the correctness or accuracy of the Site. It is possible that the Site could include inaccuracies or errors, and that unauthorized additions, deletions and alterations could be made to the Site by third parties. In the event that an inaccuracy arises, please inform Alex Neigher through the Site so that it can be corrected. Information contained on the Site may be changed or updated without notice.
    %p
      %strong Confidential and Proprietary Information
      XCTRACK does not want to receive confidential or proprietary information from you through the Site. Please note that any information or material sent to XCTRACK through the Site will be deemed NOT to be confidential. By sending XCTRACK any information or material, you grant XCTRACK an unrestricted, irrevocable, world-wide, royalty free license to use, reproduce, display, perform, modify, transmit, and distribute those materials or information, and you also agree that XCTRACK is free to use any ideas, concepts, know-how, or techniques that you send us for any purpose.
    %p
      %strong Links or Pointers to Other Sites
      XCTRACK makes no representations whatsoever about any other Website that you may access though this Site. When you access a website other than XCTRACK, please understand that it is independent from XCTRACK, and that XCTRACK has no control over the content on that Website. In addition, a hyperlink to a website other than XCTRACK does not mean that XCTRACK endorses or accepts any responsibility for the content, or the use, of the linked site. It is up to you to take precautions to ensure that whatever you select for your use or download is free of such items as viruses, worms, trojan horses, and other items of a destructive nature.

    %p
      %strong Choice of Law and Venue
      These Terms and Conditions are entered into in the State of California and shall be governed by and construed in accordance with the laws of the State of California, exclusive of its choice of law rules. Each party to these Terms and Conditions submits to the exclusive jurisdiction of the state and federal courts sitting in the County of Marin in the State of California, and waives any jurisdictional, venue, or inconvenient forum objections to such courts. In any action to enforce these Terms and Conditions, the prevailing party will be entitled to costs and attorney’s fees. In the event that any of the Terms and Conditions are held by a court or other tribunal of competent jurisdiction to be unenforceable, those provisions shall be limited or eliminated to the minimum extent necessary so that these Terms and Conditions shall otherwise remain in full force and effect.
    %p
      %strong Entire Agreement
      These Terms and Conditions constitute the entire agreement between XCTRACK and you pertaining to the subject matter of this Agreement. In its sole discretion, XCTRACK may modify these Terms and Conditions by posting the revised version on this Site and you agree that each visit by you to this Site is a new transaction governed by the terms of use linked on this Site at that time.
    %p
      %strong No Unlawful or Prohibited Purpose
      As a condition of your use of this Site, you warrant to XCTRACK that you will not use the Site for any purpose that is unlawful or prohibited by these Terms and Conditions.